.lineado_color{

    border-bottom: 2px !important;
    border-bottom-color: coral !important;

}

.panel{

    border-color: coral;

}

.panel_cabecera{

    color:white !important;
    background-color:  coral!important;

}


.panel:hover{

    box-shadow: 1px 1px 2rem gray;
}

.boton_de_Registro{

    color:cornflowerblue;
    background-color: white;
    border-radius: 15px;
    border-color: cornflowerblue;
    transform: scale(1);
    transition: transform .6s ease-in-out;
}

.boton_de_Registro:hover{


    box-shadow:1px 1px .7rem rgb(139, 161, 202) ;
    color:white;
    background-color: cornflowerblue;
    transform: scale(1.05);



}